html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

.page-content {
  margin-top: 100px;
}

footer {
  border-top: 1px solid #e4e4e4;
  margin-top: 150px;

  p {
    color: #979797;
    user-select: none;
  }
}

img {
  -webkit-user-drag: none;
}
