.card {
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 4px 10px -2px rgba(107, 107, 107, 0.25);
  border-radius: 8px;

  .text-title {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    color: #6a6a6a;
  }

  .text-subtitle {
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    text-align: center;
    color: #6c6c6c;
  }

  .card-img {
    width: 20%;
  }
}
