.page-auth {
  .row-login {
    min-height: 70vh;
  }

  .section-form-auth {
    h2 {
      font-weight: 200;
      font-size: 28px;
      margin-top: 0;
      color: #0c0d36;
    }

    .form-control {
      border-radius: 8px;
      background: #f3f3f3;
    }

    .btn-back-home {
      @include button-variant(#f3f3f3, transparent);
      color: #bbb;
    }
  }
}
