.page-home {
  h2 {
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    color: #5a5a5a;
  }

  p {
    font-size: 14px;
    line-height: 17px;
    color: #868686;
  }

  .banner {
    height: 100vh;
    min-height: 500px;
    background-image: url("/images/banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .answer-fast {
    margin-top: 8rem;

    .mt-6 {
      margin-top: 5rem;
    }
  }

  .style-survey {
    background-color: #f6f6f6;
    margin-top: 8rem;

    .mt-6 {
      margin-top: 5rem;
    }
  }

  .start {
    margin-top: 8rem;

    .mt-6 {
      margin-top: 5rem;
    }
  }

  #btnScrollTop {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #28a745;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 1;
    color: #ffff;

    &:hover {
      background: #1e7e34;
    }
    &:active {
      background: #1c7430;
    }
    &:focus {
      box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
    }
  }
}
